<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" data-bg-class="bg-menu-theme" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

  
    <div class="app-brand demo ">
      <a routerLink="/admin" class="app-brand-link">
        <span class="app-brand-logo demo">
  
          <img height="60" src="assets/img/logo.png" alt="logo">
  
  </span>
      </a>
  
      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>
  
    <div class="menu-inner-shadow" style="display: none;"></div>
  
    
    
    <ul class="menu-inner py-1 ps ps--active-y">
      <!-- Dashboards -->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Dashboards">Dashboards</div>
        </a>
        <ul class="menu-sub">
   
   
      
        </ul>
      </li>
  
      <!-- Layouts -->
      <li class="menu-item">
    
  
        <ul class="menu-sub">
  
          <li class="menu-item">
      
          </li>
          <li class="menu-item">
            <a href="layouts-content-navbar.html" class="menu-link">
              <div data-i18n="Content navbar">Content navbar</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="layouts-content-navbar-with-sidebar.html" class="menu-link">
              <div data-i18n="Content nav + Sidebar">Content nav + Sidebar</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="../horizontal-menu-template" class="menu-link" target="_blank">
              <div data-i18n="Horizontal">Horizontal</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="layouts-without-menu.html" class="menu-link">
              <div data-i18n="Without menu">Without menu</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="layouts-without-navbar.html" class="menu-link">
              <div data-i18n="Without navbar">Without navbar</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="layouts-fluid.html" class="menu-link">
              <div data-i18n="Fluid">Fluid</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="layouts-container.html" class="menu-link">
              <div data-i18n="Container">Container</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="layouts-blank.html" class="menu-link">
              <div data-i18n="Blank">Blank</div>
            </a>
          </li>
        </ul>
      </li>
  
      <!-- Apps & Pages -->
    
      

      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-food-menu"></i>
          <div data-i18n="Invoice">Invoice</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="app-invoice-list.html" class="menu-link">
              <div data-i18n="List">List</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="app-invoice-preview.html" class="menu-link">
              <div data-i18n="Preview">Preview</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="app-invoice-edit.html" class="menu-link">
              <div data-i18n="Edit">Edit</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="app-invoice-add.html" class="menu-link">
              <div data-i18n="Add">Add</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item active open" >
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-user"></i>
          <div data-i18n="Users">Users</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item open">
            <a routerLink="/admin/users" class="menu-link">
              <div data-i18n="List">Users List</div>
            </a>
          </li>
        
       
        </ul>
      </li>

  

      <li class="menu-item active open" >
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-user"></i>
          <div data-i18n="Appointment">Appointment</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item open">
            <a routerLink="/admin/appointment" class="menu-link">
              <div data-i18n="List">Appointment List</div>
            </a>
          </li>
        
       
        </ul>
      </li>
      <li class="menu-item active open" >
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-user"></i>
          <div data-i18n="Reclamation">Reclamation</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item open">
            <a routerLink="/admin/reclamation" class="menu-link">
              <div data-i18n="List">Reclamation List</div>
            </a>
          </li>     
        </ul>
      </li>

      <li class="menu-item active open" >
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-user"></i>
          <div data-i18n="Reclamation">Delivery</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item open">
            <a routerLink="/admin/delivery" class="menu-link">
              <div data-i18n="List">Delivery List</div>
            </a>
          </li>     
        </ul>
      </li>
      <li class="menu-item active open" >
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-user"></i>
          <div data-i18n="Users">Pharmacy</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item open">
            <a routerLink="/admin/Displaypharmacyadmin" class="menu-link">
              <div data-i18n="List">Pharmacy List</div>
            </a>
          </li>
        
       
        </ul>
      </li>

      <li class="menu-item active open" >
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-spreadsheet"></i>
          <div data-i18n="Users">Orders</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item open">
            <a routerLink="/admin/order" class="menu-link">
              <div data-i18n="List">Orders List</div>
            </a>
          </li>
        
       
        </ul>
      </li>
     
     
  
      <!-- Extended components -->
     
  
      </ul>
    
    
  
  </aside>