<app-header></app-header>
<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h5>
        <button (click)="showPostForm()" class="btn btn-primary">
          Create a post
        </button>
        <div *ngIf="showForm" class="mt-4">
          <app-post-form (postCreated)="handleCreated($event)"></app-post-form>
        </div>
      </h5>

      <ul>
        <li><a href="index.html">Home</a></li>
        <li>Blog</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Page Title Area -->
<section>
  <div class="button-container">
    <button (click)="getPostsByUser()" class="btn btn-primary">My Posts</button>

    <button (click)="clearFilter()" class="btn btn-primary">x</button>
  </div>
</section>
<!-- Start Blog Area -->
<section class="blog-area ptb-120">
  <div class="container"></div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let post of posts">
        <div class="single-blog-post">
          <div class="post-image">
            <a [routerLink]="['/single-blog', post.idPost]"
              ><img [src]="post.imageUrl" alt="image"
            /></a>

            <div class="date">{{ post.createdAt | date }}</div>
          </div>

          <div class="post-content">
            <span
              >By: {{ post.user.username
              }}<a [routerLink]="['/single-blog', post.idPost]"></a
            ></span>
            <h3>
              <a href="#">{{ post.namePost }}</a>
            </h3>
            <div *ngIf="post.contentPost.length > 255; else shortPost">
              <p style="overflow-x: hidden; height: 150px">
                {{ post.contentPost | slice : 0 : 310 }}...
              </p>
            </div>
            <ng-template #shortPost>
              <p style="overflow-x: hidden; height: 150px">
                {{ post.contentPost }}
              </p>
            </ng-template>

            <app-reactions [post]="post" [user]="this.user"> </app-reactions>

            <div *ngIf="showButtons">
              <button (click)="deletePost(post.idPost)" class="btn btn-primary">
                delete
              </button>

              <button
                class="btn btn-primary"
                type="submit"
                (click)="openUpdateForm(post.idPost)"
              >
                Update Post
              </button>
              <div *ngIf="updateForm == post.idPost">
                <app-update-post
                  [post]="post"
                  (updatePost)="handleUpdatePost($event)"
                ></app-update-post>
              </div>
            </div>

            <a
              [routerLink]="['/single-blog', post.idPost]"
              class="learn-more-btn"
              >Learn More <i class="flaticon-arrow-pointing-to-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
